.product-attributes-block {
    margin-bottom: 30px;
    @include media-breakpoint-up(sm) {
        margin-bottom: 10px;
    }
    @include media-breakpoint-up(md) {
        margin-bottom: 15px;
    }
    @include media-breakpoint-up(xxl) {
        margin-bottom: 20px;
    }
}

.product-attributes-list {
    margin: 0 -15px -10px;
    font-size: 12px;
    line-height: 15px;
    @include media-breakpoint-up(md) {
        margin: 0 0 -5px;
        font-size: 13px;
        line-height: 20px;
    }
    @include media-breakpoint-up(lg) {
        margin-bottom: -15px;
    }
    @include media-breakpoint-up(xl) {
        font-size: 14px;
    }
    @include media-breakpoint-up(xxl) {
        margin-bottom: -25px;
        font-size: 15px;
    }
}

.product-attribute-item {
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    @include media-breakpoint-up(md) {
        margin-bottom: 5px;
        padding-left: 0;
        padding-right: 0;
    }
    @include media-breakpoint-up(lg) {
        margin-bottom: 15px;
    }
    @include media-breakpoint-up(xxl) {
        margin-bottom: 25px;
    }
}

.product-attribute-label {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
    @include media-breakpoint-up(md) {
        margin-bottom: 0;
    }
}