.product-buy-block {
    position: relative;
    margin: 0 -15px 15px;
    padding: 15px 15px;
    background: #f7f7f7;
    @include media-breakpoint-up(sm) {
        margin-bottom: 25px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    @include media-breakpoint-up(md) {
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    @include media-breakpoint-up(xxl) {
        padding-left: 35px;
        padding-right: 35px;
    }

    &::before {
        @include media-breakpoint-up(md) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 10000px;
            background: inherit;
            transform: translateY(-50%);
            content: '';
        }
    }
}