.modal-product {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 20px;
    @include media-breakpoint-up(xl) {
        font-size: 16px;
    }
    @include media-breakpoint-up(xxl) {
        font-size: 17px;
    }
}

.modal-product-code-container,
.modal-product-price-container {
    margin-bottom: 10px;
}

.modal-product-thumbnail {
    width: 58px;
    height: 58px;
    margin-right: 5px;
    text-decoration: none;

    .modal-product-media {
        max-width: 100%;
        max-height: 100%;
    }
}

.modal-product-title {
    margin: 0;
    font-weight: 600;
}

.modal-product-category {
    margin: 0;
    color: $gray;
    font-size: 12px;
    line-height: 15px;
    @include media-breakpoint-up(sm) {
        margin-bottom: 5px;
        font-size: 13px;
        line-height: 20px;
    }
}

.modal-product-price {
    font-size: 15px;
    font-weight: 700;
    @include media-breakpoint-up(xl) {
        font-size: 18px;
    }
    @include media-breakpoint-up(xxl) {
        font-size: 24px;
    }
}

.modal-product-hint {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid $gray;
    font-size: 13px;
    line-height: 20px;

    .modal-product-hint-media {
        flex: 0 0 16px;
        width: 16px;
        height: 16px;
        margin-right: 4px;
    }
}