#offcanvas {
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    max-height: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background: $primary;
    transform: translateX(-50%);
    color: $white;
    font-size: 13px;
    line-height: 15px;
    -webkit-overflow-scrolling: touch;

    a {
        color: currentColor;
        text-decoration: none;
        &:hover {
            color: $danger;
        }
    }

    &.is-animate {
        transition: opacity 100ms ease, transform 100ms ease;
    }

    &.is-open {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}

.offcanvas-header {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* offcanvas close */
.offcanvas-close-toggle {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
    border: 0;
    background: none;
    color: currentColor;
}

/* offcanvas location */
.offcanvas-location-toggle {
    width: 145px;

    .offcanvas-location-toggle-media {
        flex: 0 0 16px;
        width: 16px;
        margin-right: 15px;
    }
}

/* offcanvas search */
.offcanvas-search-block {
    margin: 0 -15px 20px;
    padding: 13px 15px; 
    background: $white;

    .form-search-input {
        height: 50px;
    }
}

.offcanvas-search-by-photo-button {
    width: 50px;
    height: 50px;
}


/* offcanvas nav */
.offcanvas-nav-list {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
}

.offcanvas-nav-link {
    display: block;
    padding: 13px 15px;
}

.offcanvas-catalog-link {
    padding: 17px 20px;
    border-radius: $g-radius;
    font-size: 17px;
    &:hover,
    &:active {
        color: $white;
    }
}


/* offcanvas contact */
.offcanvas-contact-block {
    margin-left: -15px;
    margin-right: -15px;
    padding: 35px 15px 40px;
    border-top: 2px solid $white;
}

.offcanvas-contact-link {
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
}

.offcanvas-contact-address  {
    margin-top: 15px;
    font-weight: 600;

    .offcanvas-contact-address-media {
        flex: 0 0 14px;
        width: 14px;
        margin-right: 7px;
    }
}

.offcanvas-whatsapp-link {
    width: 44px;
    height: 44px;
    background: $b-whatsapp;
    border-radius: 50%;
}


/* offcanvas master */
.offcanvas-master-toggle {
    cursor: pointer;
    width: calc(100% + 30px);
    margin: 0 -15px;
    padding: 15px 15px;
    border: none;
    border-radius: 0;
    background: $white;
    font-size: 15px;
    line-height: 20px;
    text-align: left;

    b {
        font-weight: 600;
    }

    .offcanvas-master-thumbnail {
        flex: 0 0 50px;
        width: 50px;
        margin-right: 15px;
    }
}