#backdrop {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#9a9ea2, .7);
    transition: opacity 300ms ease;

    &.is-visible {
        opacity: 1;
        visibility: visible;
    }
}