.btn {
    padding: 10px 18px;
    border: 2px solid transparent;
    border-radius: $g-radius;
    font-size: 14px;
    text-decoration: none;
    @include media-breakpoint-up(xl) {
        padding: 12px 25px;
        font-size: 16px;
    }
    @include media-breakpoint-up(xxl) {
        font-size: 17px;
    }

    img,
    svg {
        vertical-align: baseline;
    }
}

.btn-sm {
    padding: 7px 5px;
    font-size: 14px;
    @include media-breakpoint-up(xl) {
        font-size: 15px;
    }
}

.btn-lg {
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 600;
    @include media-breakpoint-up(xl) {
        font-size: 17px;
    }
    @include media-breakpoint-up(xxl) {
        padding: 12px 15px;
        font-size: 20px;
    }
}

.btn-xl {
    padding: 12px 15px;
    font-size: 15px;
    font-weight: 600;
    @include media-breakpoint-up(xl) {
        padding: 15px 20px;
        font-size: 18px;
    }
    @include media-breakpoint-up(xxl) {
        padding: 15px 30px;
        font-size: 24px;
    }
}

.btn-xxl {
    padding: 13px;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    @include media-breakpoint-up(xl) {
        padding: 15px 20px;
        font-size: 20px;
    }
    @include media-breakpoint-up(xxl) {
        padding: 15px 30px;
        font-size: 24px;
        line-height: 30px;
    }
}

.btn-danger {
    background: $danger;
    color: $white;
}

.btn-outline {
    border-color: #a4b3b7;
    color: $black;
    font-weight: 700;
}

.btn-link {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 2px solid $danger;
    background: none;
    color: $black;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    @include media-breakpoint-up(md) {
        font-size: 14px;
        line-height: 20px;
    }
    @include media-breakpoint-up(xxl) {
        font-size: 15px;
    }

    &:hover {
        color: $danger;
        text-decoration: none;
    }

    // &.active {
    //     border-bottom-color: $danger;
    //     color: $black;
    // }
}

.btn-tooltip {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background: none;
    color: $gray;
    font-size: 13px;
    line-height: 15px;
    text-align: left;

    .btn-tooltip-media {
        flex: 0 0 16px;
        width: 16px;
        margin-right: 5px;
    }
}

.btn-group {
    margin-left: -10px;
    margin-right: -10px;

    > * {
        margin-left: 10px;
        margin-right: 10px;
    }

    .btn-link {
        &:not(.active) {
            border-bottom-color: transparent;
            color: rgba($black, .5);
        }
    }
}