.swiper-cover {
    position: relative;

    .swiper-container {
        position: static;
    }
}

.swiper-slide {
    height: auto;
}

.swiper-button {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background: none;
}