.footer-develop-link {
    font-size: 13px;
    line-height: 16px;
    @include media-breakpoint-up(xl) {
        font-size: 15px;
        line-height: 20px;
    }

    .footer-develop-media {
        flex: 0 0 66px;
        width: 66px;
        height: 39px;
        margin-right: 20px;
    }
}